<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
	namespace="com.spring_boot.miniproject.member.mapper.MemberMapper">

	<select id="findByUsername"
		resultType="com.spring_boot.miniproject.member.dto.MemberDto">
		SELECT
		member_id AS memberId,
		login_id AS loginId,
		member_name AS memberName,
		password_hash AS passwordHash,
		email,
		phone,
		member_role AS memberRole,
		member_status AS memberStatus
		FROM members
		WHERE login_id = #{loginId}
	</select>

	<select id="existByUsername" resultType="boolean">
		SELECT CASE WHEN EXISTS (
		SELECT 1
		FROM members
		WHERE login_id = #{loginId}
		) THEN 1 ELSE 0 END
		FROM dual
	</select>
	
	<insert id="saveMember" useGeneratedKeys="true" keyProperty="memberId" keyColumn="MEMBER_ID">
		INSERT INTO members(   
			login_id,
        	password_hash,
        	member_name,
        	email,
        	phone
        )
	 	VALUES (
	 		#{loginId},
	 		#{password},
	 		#{memberName},
	 		LOWER(TRIM(#{email})),
	 		#{phone}
	 	)
	</insert>
	
	<insert id="saveAddress" >
		INSERT INTO member_addresses (
			member_id,
			address_label,
			recipient_name,
			recipient_phone,
			postal_code,
			address_line1,
			address_line2,
			is_default
		)
		VALUES (
			#{memberId},
			'기본 배송지',
			#{memberName},
			#{phone},
			#{postalCode},
			#{addressLine1},
			#{addressLine2},
			'Y'
		)

	</insert>

</mapper>