@charset "UTF-8";

.site-nav {
}

.nav-main {
  width: 100%;
}

.nav-inner {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-main > .nav-inner {
  height: 64px;
  align-items: end;
  justify-content: space-between;
}

.nav-categories > .nav-inner {
  height: 48px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-logo > a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  color: #111111;
}

.nav-controls {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-search {
  width: 280px;
  height: 100%;
  border: 1px solid #ededed;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.nav-search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #8e8e8e;
}

.nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  gap: 12px;
}

.nav-category-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.nav-category-list {
  align-items: center;
  display: flex;
  gap: 10px;
  flex: 1;
}

.nav-category-link {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
}

.product-pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.product-discount {
  font-size: 15px;
  font-weight: 600;
  color: #d50000;
}

.product-price {
  font-size: 15px;
  font-weight: 600;
  color: #111111;
}

.product-original-price {
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
}

.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.product-rating-stars {
  display: flex;
  flex-direction: row;
  gap: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #111111;
}

.product-rating-stars > img {
  width: 13px;
  height: 13px;
}

.product-rating-score {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: -0.24px;
  color: #111111;
}

