@charset "UTF-8";

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-heading {
  padding: 4px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-logo {
  font-size: 24px;
  color: #111111;
  font-weight: 600;
}

.login-description {
  font-size: 16px;
  color: #111111;
  font-weight: 400;
}

.login-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.login-input {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid #999999;
  padding: 10px;
  outline: none;
  font-size: 18px;
  color: #999999;
}

.login-actions {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-button {
  width: 100%;
  height: 46px;
  background-color: #111111;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 6px;
  border: none;
}

.login-link {
  width: 100%;
  height: 46px;
  background-color: #ffffff;
  color: #111111;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 6px;
  border: 1px solid #111111;
  text-decoration: none;	
  display: flex;
  align-items: center;
  justify-content: center;
}
